XTerm.termName: xterm-256color
XTerm*metaSendsEscape: true
XTerm*backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm*saveLines: 4096
XTerm*background: black
XTerm*foreground: white
XTerm*reverseVideo: false
XTerm*faceName: xos4 Terminus:pixelsize=14
XTerm*scrollKey: true
XTerm*scrollTtyOutput: false
XTerm*selectToClipboard: true
XTerm*translations: #override \n\
	Shift Ctrl <Key>T: spawn-new-terminal()
