# ~/.aliases -*- mode:sh -*-

alias cp='cp -a --reflink=auto'
alias curl='curl -sL'
alias diff='diff -aur'
alias docker='sudo docker'
alias docker-compose='sudo -E docker-compose'
alias e='$EDITOR'
alias emacs='emacs --no-splash'
alias gpgv='gpg --verify'
alias ls='ls --color=auto -FC'
alias make='make -j$(nproc)'
alias mkfs='mkfs -t btrfs'
alias qrencode='qrencode -t ANSI'
alias rsync='rsync -a --delete'
alias sudo='sudo '
alias tarx='tar -x -C ~/scratch/ -f'
alias unzip='unzip -d ~/scratch/'

alias info='emacsify info'
alias man='emacsify man'
