[user]
	name = Kieran Colford
	email = kieran@kcolford.com
[push]
	recurseSubmodules = on-demand
	followTags = true
[alias]
	pushu = push -u origin HEAD
[url "git@github.com:kcolford/"]
	pushInsteadOf = "https://github.com/kcolford/"
